      <a href="{{ site.github.url }}{{ post.url }}">
          <h2>{{ post.title }}</h2>
      </a>
      <div class="featured-post" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      </div>
      <div class="preview">
          <p>{{ post.content | truncatewords: 20 }}</p>
          <p><a href="{{ site.github.url }}{{ post.url }}">Read more</a></p>
      </div>



<!-- 
<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-post" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article> -->
